*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    height: 100vh;
    background: linear-gradient(#f3f3fb 50%, #07687C 50%);
    position: relative;
}

.codeBox{
    background-color: #ffffff;
    padding: 5em 4em;
    position: absolute;
    width: 31.25em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 0 25px 50px rgba(3, 21, 55, 0.3);
}

#userInput{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 0.5em 1em;
    font-size: 1em;
    outline: none;
}

.options{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select {
    appearance: none;
    width: 8em;
    padding: 0.45em 0.9em;
    font-size: 1.25em;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: #07687C;
    border: none;
    color: #ffffff;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position: 6em;
    outline: none;
    border-radius: 0.3em;
}

select::-ms-expand{
    display: none;
}

select option{
    background-color: #ffffff;
    color: #07687C;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 1.12em;
}

.selected{
    display: none;

}

.colorChoice{
    background-color: transparent;
    width: 3.1em;
    height: 3.4em;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box button,
.box a{
    font-size: 1em;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    margin-top: 2em;
}

.box button:disabled{
    background-color: transparent;
    color: #a3aab6;
    border: 0.18em solid #a3aab6;
}

.box button{
    background-color: transparent;
    color: #07687C;
    border: 0.18em solid #07687C;
}

.box a{
    background-color: #07687C;
    color: #ffffff;
    text-decoration: none;
    border: 0.18em solid #07687C;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 0.18em;
}

.hide{
    display: none;
}

body.dark {
    background: linear-gradient(#333 50%, #000 50%);
}

.codeBox.dark {
    background-color: #444;
    color: #ffffff;
}

.modeToggle {
    margin-top: 1em;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}


/* The switch - the box around the slider */
.modeSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* to hide default HTML checkbox */
  .modeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #07687C;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }


  
  .slider.round:before {
    border-radius: 50%;
  }

  .description{
    color: #07687C;
    margin-top: 250px;
    margin-left: 50px;
    font-size: 2em;
    font-family: monospace  ;
  }

  .authormessage{
    color: #000000;
    width: 200px;
    font-size: 2em;
    margin-left: 50px;
  }

  .author{
    text-decoration: none;
    color: #07687C;
    margin-left: 10px;
  }

  /* Media query for smaller screens */
  @media (max-width: 1500px) {
    .description {
        font-size: 1.5em;
        margin-left: 0;
        margin-top: 20px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .authormessage {
        font-size: 1.5em;
        margin-left: 0;
        text-align: center;
        margin-top: 115px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}


  @media (max-width: 768px) {
    .description {
        font-size: 1.5vh;
        margin-left: 0;
        margin-top: 20px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .authormessage {
        font-size: 1.5vh;
        margin-left: 0;
        text-align: center;
        margin-top: 120px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    .description {
        font-size: 1em;
        margin-left: 10px;
    }

    .authormessage {
        font-size: 1.1em;
        margin-left: 10px;
        margin-top: 120px;
    }
}


  